# API configuration
FOOTBALL_DATA_API_KEY=
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
WORLD_CUP_COMPETITION_CODE=WC

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_RAW_CONTAINER=raw
AZURE_PROCESSED_CONTAINER=processed
AZURE_VALIDATION_CONTAINER=validation

# AZURE_SQL_SERVER=
# AZURE_SQL_DATABASE=
# AZURE_SQL_USERNAME=
# AZURE_SQL_PASSWORD=