# football-data.org
FOOTBALL_DATA_API_KEY=9711a440cb0748b391de0f13aa19a266

# API configuration
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
WORLD_CUP_COMPETITION_CODE=WC

# Azure values will be added later
# AZURE_STORAGE_CONNECTION_STRING=
# AZURE_STORAGE_ACCOUNT_NAME=
# AZURE_SQL_SERVER=
# AZURE_SQL_DATABASE=
# AZURE_SQL_USERNAME=
# AZURE_SQL_PASSWORD=